/* score css */
.container {
  border: 5px solid #f6f6f6;
  border-radius: 30px 10px;
  height: 40rem;
  background-color: #9e2c0b;

}
.end-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  margin-top: 60px;
}
input {
  margin-bottom: 1rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  background-color: #f6f6f6;
  border-radius: 30px 10px;
  color: #9e2c0b;
}
.sub{
  margin-left: 22%;
  font-size: 1rem;
  font-weight: 600;
  padding: 5%;
  width: 60%;
}

input::placeholder {
  color: #9e2c0b;
}

#username {
  margin-bottom: 3rem;
  width: 100%;
}
h1 {
  display: none;
}
#add-text {
  color: #f6f6f6;
  font-size: 15px;
}
#end-text {
  font-size: 2.4rem;
  color: #f6f6f6;
  text-align: center;
}
.container img{
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  height: 7rem;
  margin-top: 0.85rem;
  margin-left: 37%;
} 
#submit{
border-radius: 30px 10px;
color: #9e2c0b;
height: 40%;
width: 60%;
font-size: 18px;
font-weight: 600;
text-align: center;
}
.bttn {
  height: 20px;
  width: 100px;
  text-align: center;
  padding: 10px 1px;
  margin-left: 39%;
  margin-top: 5%;
  background: #f6f6f6;
  color: #9e2c0b;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px 10px;
  cursor: pointer;
  display: inline-table;
  text-decoration: none;
}

.Bttn:hover {
  background: #f6f6f6;
  color: #9e2c0b;
}
/* form css */
.submit1 {
  margin-top: 1%;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 100%;
  background-color: #9e2c0b;
  color: #f6f6f6;
  display: block;
}