@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
*
{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #f6f6f6;
}

#world{
    height: 30px;
    width: 600px;
    text-align: center;
    padding: 20px 0;
    background: black;
    color: whitesmoke;
    font-family: Cookie, cursive;
    font-size: 23px;
    font-weight: 600;
    border-radius: 30px 10px;
    border: 3px solid #ff5235;
    display:inline-table;
    text-decoration: none;
    background-color: #ff5235;
    cursor: pointer;

}
#world:hover{
    background: whitesmoke;
    color: #ff5235;
}

.containerh{
    height: auto;
    width: auto;
}
/* start section */
#startBtn{
    height: 30px;
    width: 250px;
    text-align: center;
    padding: 20px 0;
    background: #ff5235;
    color: #f6f6f6;
    font-size: 23px;
    font-weight: 600;
    border-radius: 30px 10px;
    border: 1px solid #f6f6f6;
    cursor: pointer;
    display:inline-table;
    text-decoration: none;
}
#startBtn:hover{
    background: #f6f6f6;
    color: #ff5235;
    border: 4px solid #ff5235;

}

#startin{
    height: 30px;
    width: 250px;
    text-align: center;
    padding: 20px 0;
    background: #ff5235;
    color: #f6f6f6;
    font-size: 23px;
    font-weight: 600;
    border-radius: 30px 10px;
    border: 1px solid #ff5235;
    cursor: pointer;
    display:inline-table;
    text-decoration: none;
}
#startin:hover{
    background: #f6f6f6;
    color: #ff5235;
    border: 4px solid #ff5235;

}
#startsc{
    height: 30px;
    width: 250px;
    text-align: center;
    padding: 20px 0;
    background: #ff5235;
    color: #f6f6f6;
    font-size: 23px;
    font-weight: 600;
    border-radius: 30px 10px;
    border: 1px solid #b0c4d8;
    cursor: pointer;
    display:inline-table;
    text-decoration: none;
}
#startsc:hover{
    background: #f6f6f6;
    color: #ff5235;
    border: 4px solid #ff5235;
}
/* media query for home page */
@media screen and (max-width: 667px){
    #world {
        width: 15rem;
        margin-right: 14%;
        font-size: 12px;
        padding: 10%;
    }
    #startBtn{
        width: 14rem;
        margin-left: 18%;
    }
    #startin{
        width: 14rem;
        margin-left: 18%;
    }
    #startsc{
        width: 14rem;
        margin-left: 18%;
    }

}
     