
* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #555251;
}

#world {
  height: 30px;
  width: 600px;
  text-align: center;
  padding: 20px 0;
  background: black;
  color: #f6f6f6;
  font-family: Cookie, cursive;
  font-size: 23px;
  font-weight: 600;
  border-radius: 30px 10px;
  border: 3px solid #f6f6f6;
  display: inline-table;
  text-decoration: none;
  background-color: #9E2C0B;
  cursor: pointer;
}
#world:hover {
  background: #f6f6f6;
  color: #9E2C0B;
}

.containerh {
  height: auto;
  width: auto;
}
img{
  width: 100%;
  border: 2px solid #f6f6f6;
  border-radius: 30px 10px;
  margin-bottom: 5%;
  
}
/* start section */
#startBtn {
  height: 30px;
  width: 250px;
  text-align: center;
  padding: 20px 0;
  background: #9E2C0B;
  color: #f6f6f6;
  font-size: 23px;
  font-weight: 600;
  border-radius: 30px 10px;
  border: 1px solid #f6f6f6;
  cursor: pointer;
  display: inline-table;
  text-decoration: none;
}
#startBtn:hover {
  background: #f6f6f6;
  color: #9E2C0B;
  border: 4px solid #9E2C0B;
}
.containerh {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1rem;
}
.containerh a {
  width: 100%;
}
#startin {
  height: 30px;
  width: 250px;
  text-align: center;
  padding: 20px 0;
  background: #9E2C0B;
  color: #f6f6f6;
  font-size: 23px;
  font-weight: 600;
  border-radius: 30px 10px;
  border: 1px solid #f6f6f6;
  cursor: pointer;
  display: inline-table;
  text-decoration: none;
}
#startin:hover {
  background: #f6f6f6;
  color: #9E2C0B;
  border: 4px solid #9E2C0B;
}
#startsc {
  height: 30px;
  width: 250px;
  text-align: center;
  padding: 20px 0;
  background: #9E2C0B;
  color: #f6f6f6;
  font-size: 23px;
  font-weight: 600;
  border-radius: 30px 10px;
  border: 1px solid #f6f6f6;
  cursor: pointer;
  display: inline-table;
  text-decoration: none;
}
#startsc:hover {
  background: #f6f6f6;
  color: #9E2C0B;
  border: 4px solid #f6f6f6;
}
/* media query for home page */

@media (max-width: 1024px) {
  #world {
    width: 30rem;
    margin-right: 0;
    font-size: 30px;
    padding: 0;
  }
  #startBtn {
    width: 20rem;
  }
  #startin {
    width: 20rem;
  }
  #startsc {
    width: 20rem;
  }
}
@media (max-width: 767px) {
  #world {
    width: 60%;
    font-size: 15px;
    padding: 7%;
  }
  #startBtn {
    width: 10rem;
  }
  #startin {
    width: 10rem;
  }
  #startsc {
    width: 10rem;
  }
}
